.photo-grid {
  width: 92.5%;
  margin: 0 auto;
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(3 , 1fr);
  gap: 16px;
}

.photo-grid__item {
  
}

.photo-grid__img {
  width: 100%;
  height: 100%;
}