.lead {
  max-width: 76.8%;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin-bottom: 88px;
  }
  
}

@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
  }
}