.header__link {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 0.9;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:not(:last-child) {
  margin-right: 18px;
}

.header__link:first-of-type {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__link {
    font-size: 1.125rem;
    line-height: 1.11;
  }
}