.footer__link {
  width: 100%;
  margin-right: 18px;
  display: block;
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 1s;
}
.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 1.5rem;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 1.5rem;
    line-height: 1;
  }
}