.lead__title {
  max-width: 720px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 0.96;
  text-align: center;
  color: #FFFFFF;
}


@media screen and (max-width: 690px) {
  .lead__title {
    font-size: 3rem;
    line-height: 1.1;
  }
}


@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}