.footer__links {
  
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

@media screen and (max-width: 425px) {
  .footer__links {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    width: 100%;
    margin-left: -130px;
    flex-direction: column;
  }
}