.intro {
  width: 690px;
  margin-left: 149px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 720px;
    margin: 0 auto 92px;
  }
  
}
@media screen and (max-width: 710px) {
  .intro {
    width: 90%;
    margin: 0 auto 80px;
  }

}
@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
    margin: 0 auto 64px;
  }

}
@media screen and (max-width: 320px) {
  .intro {
    width: 288px;
    margin-bottom: 64px;
  }
}