.place__img {
  max-width: 460px;
  min-height: 460px;
  grid-area: image;
}

@media screen and (max-width: 1024px) {
  .place__img {
    max-width: 440px;
    min-height: 440px;
  }
}
@media screen and (max-width: 876px) {
  .place__img {
    max-width: 380px;
    min-height: 380px;
  }
}
@media screen and (max-width: 768px) {
  .place__img {
    max-width: 340px;
    min-height: 340px;
  }
}
@media screen and (max-width: 660px) {
  .place__img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .place__img {
    max-width: 320px;
    min-height: 320px;
  }
}