.cover {
  width: 92.5%;
  min-height: 740px;
  margin: 0 auto;
  margin-bottom: 92px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 570px) {
  .cover {
    min-height: 400px;
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 300px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin-bottom: 64px;
  }
}