.cover__title {
  max-width: 560px;
  margin: 0;
  margin: auto auto;
  position: relative;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  text-align: center;
  z-index: 2;
  background: transparent;
}



@media screen and (max-width: 570px) {
  .cover__title {
    max-width: 250px;
    font-size: 2.2rem;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 2rem;
    line-height: 1.09;
  }
}