.cover__title {
  width: 45%;
  margin: 0;
  margin: auto;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 560px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 288px;
    font-size: 2rem;
    line-height: 1.09;
  }
}