.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 3.5fr;
  grid-template-areas:
    "title website"
    "image text"
  ;
  row-gap: 42px;
  column-gap: 32px;
}
.place:not(:last-child) {
  margin-bottom: 80px;
}