.footer {
  width: 92.5%;
  margin: 0 48px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width: 570px) {
  .footer {
    flex-direction: column;
    
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0 16px 24px;
    flex-direction: column;
  }
}