.footer {
  width: 92.5%;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
  }
}