.intro__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 0.9;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 2.5rem;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 2rem;
    line-height: 1.09;
  }
}